// Variables
$primary-light: rgb(85, 227, 255);
$primary-med: rgb(48, 189, 217);
$primary-dark: rgb(0, 133, 159);

$secondary-light: rgb(255, 179, 0);
$secondary-med: rgb(255, 146, 57);
$secondary-dark: rgb(192, 86, 0);

$light: #f4f4f4;
$med: #ccc;
$dark: #333;

$max-width: 1200px;