@import 'config';
@import 'utilitiesNormal';

body {
  // display: none;
}

// Showcase
#showcase {
  // Navbar
  .container {
    li {
      margin-right: .5rem;
    }

    .nav-ul a {
      font-size: 1.1rem;
    }
  }

  #navbar {
    .logo h2 {
      font-size: 1.7rem;
    }
  }

  // Showcase
  &-info {
    h2 {
      font-size: 4rem;
    }

    p {
      font-size: 1.7rem;
      margin-bottom: 1.5rem;
    }
  }
}

// Home: About
#about,
#cta {
  .about {
    &-box-set {
      max-height: 300px;

      h3 {
        font-size: 1.7rem;
      }
    }
  }
}

// Water Play: Slides / Rides
#water-play {

  // Slides: Image Grid
  .slide-grid-area {
    
    .slide-grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    }

    .slide-grid-box {

      &:nth-child(1) {
        grid-column: 1 / span 2;
        flex-direction: column;
        text-align: center;

        img {
          max-width: 100%;
        }
      }

      &:nth-child(8) {
        grid-column: 1 / span 2;
      }
    }
  }

  // Rides
  .ride-grid-area {

    .ride-grid-container {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem;
      }
  
      .ride-grid-box {
  
        &:nth-child(1) {
          grid-column: 1 / span 2;
          flex-direction: column;
          text-align: center;
  
          img {
            max-width: 100%;
          }
        }
  
        &:nth-child(8) {
          grid-column: 1 / span 2;
        }
      }
  }
}

// Tournament Form
#tournament-form {
  label {
    font-size: 1rem;
  }
}

.form {
  &-section-1 {
    h3, p {
      font-size: 1.5rem;
    }
  }
}

// Night Club 
#night-club {

  #alcohol-types {
    grid-template-columns: repeat(2, 1fr);
  }
}

// Main Footer
#main-footer {
  h4 {
    font-size: .9rem;
  }

  li {
    font-size: .7rem;
  }
}