@import 'config';
@import 'utilitiesNormal';

// Showcase
#showcase {
  // Navbar
  .container {
    li {
      margin-right: .5rem;
    }

    .nav-ul a {
      font-size: 1.1rem;
    }
  }

  #navbar {
    .logo h2 {
      font-size: 1.7rem;
    }
  }

  // Showcase
  &-info {
    h2 {
      font-size: 4rem;
    }

    p {
      font-size: 1.7rem;
      margin-bottom: 1.5rem;
    }
  }
}

// Home: About
#about,
#cta {
  .about {
    &-box-set {
      max-height: 300px;

      h3 {
        font-size: 1.7rem;
      }
    }
  }
}

// Main Footer
#main-footer {
  h4 {
    font-size: .9rem;
  }

  li {
    font-size: .7rem;
  }
}