@import 'config';
@import 'utilities';

// General Styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Rubik', sans-serif;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: $dark;
}

li {
  list-style: none;
}


// Showcase
#showcase {
  // Navbar
  .container {
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 1rem;

    ul {
      display:flex;
      margin: auto 0;
    }

    li {
      margin-right: 1rem;
    }

    a {
      font-size: 1.3rem;
      padding: 1.1rem;
      border-radius: 25px;


      &:hover,
      &.selected {
        background: $primary-dark;
        color: #fff;
        transition: .3s ease-out;
      }
    }
  }

  #navbar {
    background: $secondary-light;
    height: 5rem;

    .logo h2 {
      font-size: 2rem;
    }
  }

  // Showcase
  &-content {
  height: calc(100vh - 5rem);
  width: 100vw;
  background: $primary-dark;
  color: #fff;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  // Overlay
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/top-view.jpeg') no-repeat center center/cover;
    opacity: 0.9;
    }
  }
  &-info {
    z-index: 1;
    h2 {
      font-size: 5rem;
      text-shadow: $primary-dark 0px 10px 10px;
    }
    
    p {
      font-size: 2rem;
      margin-bottom: 3rem;
      text-shadow: $primary-dark 0px 10px 10px;
    }
  }
  
}