@import 'config';
@import 'utilities';

// General Styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Rubik', sans-serif;
  line-height: 1.6;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: $dark;
}

li {
  list-style: none;
}

img {
  width: 100%;
}


// Showcase
#showcase {
  // Navbar
  .container {
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 1rem;

    ul {
      display:flex;
      margin: auto 0;
    }

    li {
      margin-right: 1rem;
    }

    .nav-ul a {
      font-size: 1.3rem;
      padding: 1.1rem;
      border-radius: 50px;

      &:hover,
      &.selected {
        background: $primary-dark;
        color: #fff;
        transition: .3s ease-out;
      }
    }
  }

  #navbar {
    background: $secondary-light;
    height: 5rem;

    .logo h2 {
      font-size: 2rem;
    }
  }

  // Showcase
  &-content {
  height: calc(100vh - 5rem);
  width: 100vw;
  background: $primary-dark;
  color: #fff;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  // Overlay
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/top-view.jpeg') no-repeat center center/cover;
    opacity: 0.9;
    }
  }
  &-info {
    z-index: 1;
    h2 {
      font-size: 5rem;
      text-shadow: $primary-dark 0px 10px 10px;
    }
    
    p {
      font-size: 2rem;
      margin-bottom: 3rem;
      text-shadow: $primary-dark 0px 10px 10px;
    }
  } 
}

// Home: About
#about,
#cta {
  font-size: 2rem;
  text-align: center;
  color: $dark;

  .about {
    &-box-set {
      display: flex;
      max-height: 450px;

      .img-box {
        flex: 1;

        img {
          min-height: 300px;
          height: 100%;
        }
      }

      .img-info {
        flex: 1;
        min-height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background: $dark;
        color: $light;
      }
      h3 {
        font-size: 3rem;
      }
    }
  }
}

// Home: Call To Action
#cta {
  background: $light;
  color: $dark;

  p {
    margin-bottom: 3rem;
  }
}

// Water Play : Showcase
#water-play-showcase {
  &-content {
  height: calc(100vh - 5rem);
  width: 100vw;
  background: $primary-dark;
  color: #fff;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  // Overlay
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/slide.jpg') no-repeat center center/cover;
    opacity: 0.7;
    }
  }
  &-info {
    z-index: 1;
    h2 {
      font-size: 5rem;
      text-shadow: $primary-dark 0px 10px 10px;
    }
    
    p {
      font-size: 2rem;
      margin-bottom: 3rem;
      text-shadow: $primary-dark 0px 10px 10px;
    }
  } 
}

// Swimming
#swimming {
  // Slides
  .slide-grid-area {
    background-color: $primary-med;

    .slide-grid-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 4rem 2rem;
      max-width: $max-width;
      margin: 0 auto;
    }

    .slide-grid-box {
      background: $primary-dark;
      color: $light;
      padding: 2rem;
      display: flex;
      flex-direction: column;

      &-text {
        padding: 2rem 1rem;
      }

      h3 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }

      p {
        font-size: 1.1rem;
      }

      &:nth-child(even) {
        background: $light;
        color: $dark;
      }

      &:nth-child(1) {
        grid-column: 1 / span 4;
        flex-direction: row;
        padding: 3rem;
        h3 {
          font-size: 3rem; 
          text-align: center;
        }

        img {
          flex: 1;
          max-width: 50%;
        }
      }

      &:nth-child(8) {
        grid-column: 3 / span 2;
        h3 {
          text-align: center;
          font-size: 3rem;
        }
      }
    }
  }

  // Rides
  .ride-grid-area {
    background-color: $primary-dark;

    .ride-grid-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 2rem;
      max-width: $max-width;
      margin: 0 auto;
    }

    .ride-grid-box {
      background: $primary-med;
      color: $light;
      padding: 2rem;
      display: flex;
      flex-direction: column;

      &-text {
        padding: 2rem 1rem;
      }

      h3 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }

      p {
        font-size: 1.1rem;
      }

      &:nth-child(even) {
        background: $light;
        color: $dark;
      }

      &:nth-child(1) {
        grid-column: 1 / span 4;
        flex-direction: row;

        img {
          flex: 1;
          max-width: 50%;
        }
      }

      &:nth-child(8) {
        grid-column: 3 / span 2;
        h3 {
          text-align: center;
          font-size: 3rem;
        }
      }
    }
  }
}










// Main Footer
#main-footer {
  background: $secondary-light;
  padding-top: 1rem;
  
  h4 {
    font-size: 1rem;
    padding-left: 1rem;
  }

  .container {
    display: flex;
    justify-content: space-evenly;
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  a {
    color: $dark;
  }

  li {
    border-left: 2px solid $secondary-dark;
    padding: 0 1rem 0 1rem;
    transition: all .3s ease-out;
    font-size: .9rem;

    &:hover {
    background: rgba(192, 86, 0, 0.416);
    border-radius: 50px;
    border-left: 4px solid $secondary-dark;
    border-right: 4px solid $secondary-dark;
    a {
      color: $light;
      }
    }
  } 

  .footer-end {
    text-align: center;
    border-top: 1px dotted $secondary-dark;
    margin-top: 1em;
    color: $dark;
    
  }
}