@import 'config';
@import 'utilitiesTablet';


// Showcase
#showcase {
  // Navbar
  .container {
    .nav-ul a {
      font-size: 1rem;
      padding: 1rem;
    }
  }

  #navbar {
    .logo h2 {
      display: none;
    }

    ul {
      width: 100%;
      justify-content: space-evenly;
    }
  }

  // Showcase
  &-info {
    h2 {
      font-size: 3.5rem;
    }

    p {
      margin-bottom: .5rem;
    }
  }
}

// Home: About
#about,
#cta {
  .about {
    &-box-set {
      flex-direction: column;
      
      h3 {
        font-size: 2rem
      }

      &:nth-child(3) {
        .img-info {
          background-color: $primary-light;
          color: $dark;
          border: 3px  solid $med;
          
          .btn-light {
            background-color: $dark;
            color: $light;

            &:hover {
              background: $med;
              color: $dark;
            }
          }
        }
        
      }

      img {
        display: none;
      }
    }
  }
}

// Water Play: Slides / Rides
#water-play {

  // Slides: Image Grid
  .slide-grid-area,
  .ride-grid-area {

    .slide-grid-container,
    .ride-grid-container {
      grid-template-columns: 1fr;
    }

    .slide-grid-box,
    .ride-grid-box {

      &:nth-child(1), 
      &:nth-child(8) {
        grid-column: 1 / span 1;
        flex-direction: column;
        text-align: left;
        padding: 2rem;

        h3 {
          font-size: 1.5rem;
          margin-bottom: 1rem;
          text-align: left;
        }

        img {
          max-width: 100%;
        }
      }

      &:nth-child(8) {
        grid-column: 1 / span 1;
      }
    }
  }
}

// Tournament Form
#tournament-form {
  h3 {
  font-size: 1.5rem;
  }

  label {
    font-size: 1rem;
  }

  input {
    width: 60%;
    font-size: 1rem;
  }
}

// Drink Finder
  #drink-search {
    font-size: 1rem;
  }

// Footer
#main-footer {

  h4 {
    font-size: .8rem;
    margin-bottom: .2rem;
  }

  a {
    font-size: .7rem;
  }
}