@import 'config';
@import 'utilitiesWide';

// General Styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Rubik', sans-serif;
  line-height: 1.6;
  overflow-x: hidden;
}

a {
  text-decoration: none; 
  color: $dark;
}

li {
  list-style: none;
}

img {
  width: 100%;
}


// Showcase
#showcase {
  // Navbar
  .container {
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 1rem;

    ul {
      display:flex;
      margin: auto 0;
    }

    li {
      margin-right: 1rem;
    }

    .nav-ul a {
      font-size: 1.3rem;
      padding: 1.1rem;
      border-radius: 50px;

      &:hover,
      &.selected {
        background: $primary-dark;
        color: #fff;
        transition: .3s ease-out;
      }
    }
  }

  #navbar {
    background: $secondary-light;
    height: 5rem;

    .logo h2 {
      font-size: 2rem;
    }
  }

  // Showcase
  &-content {
  height: calc(100vh - 5rem);
  width: 100vw;
  background: $primary-dark;
  color: #fff;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  // Overlay
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/top-view.jpeg') no-repeat center center/cover;
    opacity: 0.9;
    }
  }
  &-info {
    z-index: 1;
    h2 {
      font-size: 5rem;
      text-shadow: $primary-dark 0px 10px 10px;
    }
    
    p {
      font-size: 2rem;
      margin-bottom: 3rem;
      text-shadow: $primary-dark 0px 10px 10px;
    }
  } 
}

// Home: About
#about,
#cta {
  font-size: 2rem;
  text-align: center;
  color: $dark;

  .about {
    &-box-set {
      display: flex;
      max-height: 450px;

      .img-box {
        flex: 1;

        img {
          min-height: 300px;
          height: 100%;
        }
      }

      .img-info {
        flex: 1;
        min-height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background: $dark;
        color: $light;
      }
      h3 {
        font-size: 3rem;
      }
    }
  }
}

// Call To Action
#cta {
  background: $light;
  color: $dark;

  p {
    margin-bottom: 3rem;
  }
}

// Water Play : Showcase
#water-play-showcase {
  &-content {
  height: calc(100vh - 5rem);
  width: 100vw;
  background: $primary-dark;
  color: #fff;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  // Overlay
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/slide.jpg') no-repeat center center/cover;
    opacity: 0.7;
    }
  }
  &-info {
    z-index: 1;
    h2 {
      font-size: 5rem;
      text-shadow: $primary-dark 0px 10px 10px;
    }
  } 
}

// Water Play : Slides / Rides
#water-play {

  // Slides: Image Grid
  .slide-grid-area {
    background-color: $primary-med;
    padding: 2rem;

    .slide-grid-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 2rem;
      max-width: $max-width;
      margin: 0 auto;
    }

    .slide-grid-box {
      background: $primary-dark;
      color: $light;
      padding: 2rem;
      display: flex;
      flex-direction: column;

      &-text {
        padding: 2rem 1rem;
      }

      h3 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }

      p {
        font-size: 1.1rem;
      }

      &:nth-child(even) {
        background: $light;
        color: $dark;
      }

      &:nth-child(1) {
        grid-column: 1 / span 4;
        flex-direction: row;
        padding: 3rem;
        
        h3 {
          font-size: 3rem; 
          text-align: center;
        }

        img {
          flex: 1;
          max-width: 50%;
        }
      }

      &:nth-child(8) {
        grid-column: 3 / span 2;
        h3 {
          text-align: center;
          font-size: 3rem;
        }
      }
    }
  }

  // Rides
  .ride-grid-area {
    background-color: $primary-dark;
    padding: 2rem;

    .ride-grid-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 2rem;
      max-width: $max-width;
      margin: 0 auto;
    }

    .ride-grid-box {
      background: $primary-med;
      color: $light;
      padding: 2rem;
      display: flex;
      flex-direction: column;

      &-text {
        padding: 2rem 1rem;
      }

      h3 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }

      p {
        font-size: 1.1rem;
      }

      &:nth-child(even) {
        background: $light;
        color: $dark;
      }

      &:nth-child(1) {
        grid-column: 1 / span 4;
        flex-direction: row;
        padding: 3rem;
        h3 {
          font-size: 3rem; 
          text-align: center;
        }

        img {
          flex: 1;
          max-width: 50%;
        }
      }

      &:nth-child(8) {
        grid-column: 3 / span 2;
        h3 {
          text-align: center;
          font-size: 3rem;
        }
      }
    }
  }
}

// War Zone : Showcase
#war-zone-showcase {
  &-content {
  height: calc(100vh - 5rem);
  width: 100vw;
  background: $primary-dark;
  color: #fff;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  // Overlay
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/balloon-war.jpeg') no-repeat center center/cover;
    opacity: 0.7;
    }
  }
  &-info {
    z-index: 1;
    h2 {
      font-size: 5rem;
      text-shadow: $primary-dark 0px 10px 10px;
    }
  } 
}

// Water Balloon Images
.war-img {
  background: $primary-dark;
  padding: 2rem;

  // Image
  img {
      max-height: 500px;
      border: 4rem solid $primary-med;
  }
}


// Tournament Form
#tournament-form {
  color: $dark;
  background: $med;

  label {
    display: block;
    font-size: 1.5rem;
    padding: .3rem 0;
  }

  input {
    display: inline-block;
    text-align: center;
    width: 50%;
    font-size: 1.5rem;
    padding: .5rem;
    background: $light;
    outline: none;
    margin-bottom: .5rem;

    

    &:focus {
      border: 3px solid $primary-dark;
    }
  }
}

#add-member-btn {
  margin: 0;
}

#sign-up-btn {
  margin: 2rem 0;
}

.form {
  &-inputs {
    background: $light;
  }

  h3 {
    font-size: 2.2rem;
    color: $dark;
  }
  p {
    font-size: 1.5rem;
  }
  

  &-section-1 {
    background: $med;
    padding: 2rem;
    text-align: center;

    h3, p {
      text-align: center;
      padding: 1rem;
      font-size: 2rem;
    }
  }
}

.team-roster {
  background: $primary-dark;
  padding: .5rem 0;
  text-align: center;
  min-height: 300px;
}

.roster-group {
  background: $primary-med;
  width: 80%;
  margin: 0 auto;
  line-height: 1.1;
  padding-bottom: 1rem;
}

.member-plaque {
  display: flex;
  align-items: center;
  background-color: $primary-dark;
  border-bottom: 1px dotted $primary-med;

  span {
    flex: 8;
  }

  a {
    flex: 2;
  }
}


// Nightclub / Bar : Showcase
#night-club-showcase {
  &-content {
  height: calc(100vh - 5rem);
  width: 100vw;
  background: $primary-dark;
  color: #fff;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  // Overlay
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/water-party-2.jpg') no-repeat center center/cover;
    opacity: 0.7;
    }
  }
  &-info {
    z-index: 1;
    h2 {
      font-size: 5rem;
      text-shadow: $primary-dark 0px 10px 10px;
    }
  } 
}

// Party Slide Show
#img-slideshow {
  img {
    width: 100%;
    max-height: 600px;
    margin: 0 auto;
    padding: 0 4rem;
  }
}


// Alcohol Types
.alcohol-types {
  display: flex;
  justify-content: space-evenly;
}


// Drink Finder
.drink-search {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
#drink-search {
  display: inline-block;
    width: 100%;
    margin: 0 auto;
    font-size: 1.5rem;
    padding: .5rem;
    background: $light;
    outline: none;
    margin-bottom: 1rem;

    &:focus {
      border: 3px solid $secondary-dark;
    }
}

#center-btn {
  text-align: center;
}

#night-club {

  .drink-grid-area {
    background-color: $primary-med;
    padding: 2rem;


    #alcohol-types {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      grid-gap: 2rem;
      max-width: $max-width;
      margin: 0 auto;
    }

    #inject {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-auto-rows: auto;
      grid-gap: 2rem;
      max-width: $max-width;
      margin: 0 auto;

    }
    
    .drink-grid-box {
      background: $primary-dark;
      color: $light;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      height: 100%

    }
  }
}

// Main Footer
#main-footer {
  background: $secondary-light;
  padding-top: 1rem;
  
  h4 {
    font-size: 1rem;
    padding-left: 1rem;
  }

  .container {
    display: flex;
    justify-content: space-evenly;
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  a {
    color: $dark;
  }

  li {
    border-left: 2px solid $secondary-dark;
    border-right: 4px solid $secondary-light;
    padding: 0 1rem 0 1rem;
    transition: all .3s ease-out;
    font-size: .9rem;


    &:hover {
    background: rgba(192, 86, 0, 0.416);
    border-radius: 50px;
    border-left: 4px solid $secondary-dark;
    border-right: 4px solid $secondary-dark;
    a {
      color: $light;
      }
    }
  } 

  .footer-end {
    text-align: center;
    border-top: 1px dotted $secondary-dark;
    margin-top: 1em;
    color: $dark;
    
  }
}